.bg-dark
.home-information
  .intro-container
    .intro
      = image_tag "w4m_logo.png", :class => "logo"
      %p.intro-text Whether you’re a Pro Capper, or your typical everyday sports bettor, Wager4Me is for you.
      %p Please take a few minutes to answer the following questions.
      %div.button-group
        %a I’m a Sports Handicapper
        %a I’m a Sports Gambler
  %br/
  %br/
  
  
:javascript
  jQuery(function($){

  	$.supersized({

  		// Functionality
  		slide_interval :   4000,		// Length between transitions
  		transition:   1, 			// 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
  		transition_speed		:	700,		// Speed of transition

  		// Components							
  		slide_links				:	'blank',	// Individual links for each slide (Options: false, 'num', 'name', 'blank')
  		slides 					:  	[			// Slideshow Images
  			{image : 'assets/background.jpg'}
  		]
  				
  	});
  });
