.bg-dark
.home-information
  .intro-container
    .intro
      = image_tag "w4m_logo.png", :class => "logo"
      %p.intro-text Whether you’re a Pro Capper, or your typical everyday sports bettor, Wager4Me is for you.
      %p Please take a few minutes to answer the following questions.
      %div.button-group
        %a.handy{} I’m a Sports Handicapper
        %a.gam{} I’m a Sports Gambler
  %br/
  %br/
  
.cd-user-modal
  .cd-user-modal-container
    #cd-gam
      %form.cd-form
        = image_tag "w4m_logo.png", :class => "logo", :style => "margin-left: 35%;"
        %p.fieldset
          %label.image-replace.cd-email{:for => "signin-email"} E-mail
          %input#signin-email.full-width.has-padding.has-border{:placeholder => "E-mail", :type => "email"}/
        %p.fieldset
          %label.image-replace.cd-password{:for => "signin-password"} Some other stuff
          %input#signin-password.full-width.has-padding.has-border{:placeholder => "Question", :type => "text"}/
        %p.fieldset
          %input.full-width{:type => "submit", :value => "Submit"}/
      %p.cd-form-bottom-message
      / <a href="#0" class="cd-close-form">Close</a>
    / cd-login


  

